build
.idea/*.xml
.idea/inspectionProfiles
.idea/libraries
.idea/shelf
.gradle
target
.iml
logs/**
*.iml
**/errors_ql_risk_errors.txt
**/dependency-reduced-pom.xml
**/logs/
**/ql_risk_results.txt
completed_configs.csv

